# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
Makefile
*.lst
*.ini
*.log
*.gz
*tab.h
*.output
*.lt
.lsv
lifts_LIFTS*
config.status
cexe.c
comp.c
gram.c
icg.h
icr
ict
immcc
lexc.c
lmain
scid.c
CppComment
CppComment.c
a0
a0.c
a1
a1.c
aa1w
aa1w.c
aa4a
aa4a.c
aa4b
aa4b.c
aa4c
aa4c.c
aa4c1
aa4c1.c
aa4d
aa4d.c
aa4e
aa4e.c
aa4f
aa4f.c
aa4f1
aa4f1.c
aa4g
aa4g.c
aa4sn
aa4sn.c
aa4w
aa4w.c
aa4z1
aa4z1.c
aa4z2
aa4z2.c
aa4z3
aa4z3.c
aa4z4
aa4z4.c
aa4z5
aa4z5.c
aa4z6
aa4z6.c
alex10
alex10.c
and1
and1.c
bar1
bar1.c
bar2
bar2.c
bar3
bar3.c
bara
bara.c
bara.ic
barb
barb.c
barb.ic
barc
barc.c
barc.ic
barfx
barfx.c
barfy
barfy.c
c12w
c12w.c
compTest2a.c
conditional
conditional.c
dasgnq
dasgnq.c
demo
demo.c
f10
f10.c
f2
f2.c
h
h.c
h.ic
h0
h0.c
h0.ic
h1
h1.c
h1.ic
h2
h2.c
h2.ic
h3
h3.c
h3.ic
h5
h5.c
h5.ic
h6
h6.c
h6.ic
h7
h7.c
h7.ic
h8
h8.c
h8.ic
h9
h9.c
h9.ic
hx
hx.c
hx.ic
hy
hy.c
hy.ic
if1
if1.c
if2
if2.c
if31
if31.c
if32
if32.c
if33
if33.c
jk2
jk2.c
latch
latch.c
minus
minus.c
mixmod
mixmod.c
n1
n1.c
plus1
plus1.c
qf3
qf3.c
sort03
sort03.c
sort32i
sort32i.c
sort32u
sort32u.c
sort32u.ic
sort32v
sort32v.c
sort32v.ic
sort32z
sort32z.c
sort32z.ic
sort5
sort5.c
sort7
sort7.c
sort8
sort8.c
sortm28
sortm28.c
sortm28.ic
sr1
sr1.c
srx1
srx1.c
srx2
srx2.c
xx1
xx1.c
xx1.ic
xx2.ic
xx3
xx3.c
xx3.ic
xx4
xx4.c
xx4.ic
xx5
xx5.c
xx5.ic
zuelke
zuelke.c
